	<div >
		<form ng-submit="addcart()">
        <div >
		<form ng-submit="updatecart()">
    <div >
      Item No: 
      <input type="text"   ng-model="cart.item_no" >
    </div>

    <div >
      Item Name:
      <input type="text"   ng-model="cart.name">
    </div>
    <div >
      Item Price:
      <input type="text"  ng-model="cart.price" >
    </div>

    <div >
        Item Quantity:
        <input type="text"  id="semester"   ng-model="cart.quantity">
    </div>
      <button type="submit" style="color:#5bc0de;" >Save</button>
      <a href="#/cart" > Cancel</a>
    </form>		
  </div>
